---
import { Image } from "astro:assets";
import Header from "../layouts/Header.astro";
import AboutImg from "../assets/about.jpg";
import Check from "../assets/check.svg";
import CardProfile from "../components/CardProfile.astro";

import Founder from "../assets/founder.jpg";
import Cofounder from "../assets/cofounder.jpg";
import CardProfileVolunteer from "../components/CardProfileVolunteer.astro";
import V1 from "../assets/v-1.jpg";
import V2 from "../assets/v-2.jpg";
import V3 from "../assets/v-3.jpg";
import V4 from "../assets/v-4.jpeg";
---

<Header route="About">
  <main>
    <div class="container">
      <div class="item">
        <div class="img-con">
          <Image class="about-img" src={AboutImg} alt="" />
        </div>
      </div>
      <div class="item content">
        <h1>About</h1>

        <p>
          <span>ANAND JIVAN FOUNDATION TRUST</span> is a Public Charitable Trust
          Under Indian Trust Act 1882. It was Registered on 06th April 2023. The
          Settler of the Foundation is Mr. Guddu Kumar. This Trust is
          Established for Public Charitable Purposes Like Education, Healthcare,
          Women Empowerment, Unemployment, National Pandemic, Natural Disasters
          / Calamities (like flood, Earthquake etc.), Cleanliness, Drinking
          Water and so on. In the Field of Education The Foundation is Serving
          the People in Traditional way for the child from Pre-Primary to Class
          Five. On the other Hand, Our Foundation is also giving an Opportunity
          to have Digital Education up to Class 7th .
        </p>
        <ul>
          <li class="check">
            <Image src={Check} alt="" />
            <p>Education Program</p>
          </li>
          <li class="check">
            <Image src={Check} alt="" />
            <p>Healthcare Program</p>
          </li>
          <li class="check">
            <Image src={Check} alt="" />
            <p>Ration Program</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="section2">
      <div class="heading-founder">
        <h1>Anand Jivan Foundation Trust</h1>
        <h2>Founders & Executives</h2>
      </div>
      <div class="profile">
        <CardProfile
          imagePath={Founder}
          Name="Mr. Guddu Kumar"
          Position="President"
        />
        <CardProfile
          imagePath={Cofounder}
          Name="Mrs. Pooja Kumari"
          Position="Co-Founder"
        />
        <CardProfile
          imagePath={Founder}
          Name="Mr. Kumar "
          Position="Secretary"
        />
      </div>
    </div>
    <div class="section3">
      <div class="joinv">
        <p>Join the volunteer team</p>
        <h1>Join your hand with us for a better life and future</h1>
        <a href="" class="btn">Become a volunteer</a>
      </div>
      <div class="volunteer">
        <CardProfileVolunteer
          imagePath={V1}
          Name="Mr. Shuddhu Kumar"
          Position="Volunteer"
        />
        <CardProfileVolunteer
          imagePath={V2}
          Name="Mr. Pintu Kumar"
          Position="Volunteer"
        />
        <CardProfileVolunteer
          imagePath={V3}
          Name="Mr. Ganes Kumar"
          Position="Volunteer"
        />
        <CardProfileVolunteer
          imagePath={V4}
          Name="Mr. Sujeet Kumar"
          Position="Volunteer"
        />
      </div>
    </div>
  </main>
</Header>

<style>
  main {
    margin: 0 auto;
    /* max-width: 1440px; */
  }
  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  .item {
    flex: 1;
    padding: 1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .content h1 {
    font-size: 42px;
    font-weight: 900;
    color: var(--lightgreen1);
  }
  .content p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
  }
  .content p span {
    font-weight: bolder;
    color: var(--yellow);
  }
  .img-con {
    width: auto;
    height: 450px;
    overflow: hidden;
  }
  .about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .check {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .heading-founder {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading-founder h2 {
    font-size: 42px;
    color: var(--lightgreen1);
  }
  .heading-founder h1 {
    font-size: 22px;
    color: var(--yellow);
  }
  .section3 {
    background-color: rgb(231, 231, 231);
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .joinv {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
  }
  .joinv h1 {
    font-size: 42px;
    color: rgb(0, 0, 0);
    font-weight: 900;
  }
  .joinv p {
    font-size: 22px;
    color: black;
    font-weight: 600;
  }
  .btn {
    padding: 1rem 1.5rem;
    background-color: var(--green);
    font-weight: 300;
    font-size: 24px;
    color: white;
    border-radius: 10px;
  }
  .volunteer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 0;
  }
  @media (max-width: 780px) {
    .container {
      flex-direction: column;
      width: 100%;
      height: fit-content;
      padding: 0;
    }
    .item {
      padding: 0;
    }
    .content {
      padding: 1rem;
    }
    .img-con {
      width: 100%;
      height: auto;
    }
    .profile {
      flex-direction: column;
      width: 100%;
      align-items: normal;
      padding: 2rem 0.5rem;
    }
    .section3 {
      padding: 0;
    }
    .volunteer {
      flex-direction: column;
    }
  }
</style>
